APP_ENV=
APP_HOST=
APP_PORT=

DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_SSLMODE=

REDIS_HOST=
REDIS_PORT=
REDIS_DB=
REDIS_TLS_ENABLED=

RABBITMQ_URL=amqp://guest:guest@localhost:5672/

LOG_LEVEL=
JWT_SECRET_KEY=

MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_ENV=

XENDIT_SECRET_KEY=
XENDIT_WEBHOOK_TOKEN=